<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adventure</title>

    <style>
    body {background-color : black;
        background-image: url('1st.jpg');
        margin: auto;
        justify-content: center;
        height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    h1 {color: red;
        margin-top:50px;
        font-size:45px;
        display : flex;
        flex-direction: column;
        text-align:center;
    }

    

    p {
    color: yellow;
    margin-top:135px;
    font-size:35px;
    display : flex;
    flex-direction: column;
    text-align:center;
    }

    a { 

    color: rgb(241, 36, 18);
    }

    h5 {
        font-size: 35px;
        display : flex;
        flex-direction: column;
        text-align:left;
        padding-left: 30px;
    }

</style>
</head>
<body>
    <h1>Adventure Game</h1>  <h8><%= my_user %></h8>



    <p>
        

        Welcome<%= punctuation %> <%= my_user %>
        <br>
        To start your journey Please Click the Link Below:
        <br><br><br><br>
        <a href=  "/warmup"> Get Started</a>
    </p>

    <h5>
        <a href=  "/"> Logout</a>
    </h5>
</body>
</html>