<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adventure</title>

    <style>
    body {background-color : black;
        background-image: url('horror.jpg');
        margin: auto;
        justify-content: center;
        height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    h1 {color: red;
        margin-top:50px;
        font-size:45px;
        display : flex;
        flex-direction: column;
        text-align:center;
    }
    h2{
        color: red;
        margin-top:20px;
        font-size:25px;
        display : flex;
        flex-direction: column;
        text-align:center;
        }
    h3{
        color: red;
        margin-top:20px;
        font-size:25px;
        display : flex;
        flex-direction: column;
        text-align:center;
        }

    p {
    color: yellow;
    margin-top:135px;
    font-size:35px;
    display : flex;
    flex-direction: column;
    text-align:center;
    }

    a { 
    color: rgb(241, 36, 18);
    }
    h5 {
        font-size: 35px;
        display : flex;
        flex-direction: column;
        text-align:left;
        padding-left: 30px;
    }

    .question-container {
        background-color: rgb(58, 38, 43, 0.9);
        height: auto;
        width: 700px;
        margin: auto;
        flex-direction: column;
        justify-content: center;
        border-radius: 20px;
        align-items: center;
        display : flex;
        overflow: auto;
  }
</style>
</head>
<body>
    <h1>Your Journey</h1> 


    <div class="question-container" >
        <form class="data-for-questions">
                <h2>Choose a Path</h2>
                <hr><hr>  
                
                <h3> You are lost in the woods and you see a random person from far. What do you do?</h3>
                

                <p>
                    A <a href = "/round1/approach">Approach to him</a><br>
                    B  <a href = "/round1/alert">Alert him that you are lost</a><br>
                    C  <a href = "/round1/yourtheboss">Hide and find the way yourself</a>

                </p>
        </form>
    </div>
    <h5>
    <a href=  "/"> Main Page</a>
</h5>
</body>
</html>