<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adventure</title>


    <style>
        body {background-color : black;
        background-image: url('direction.jpg');
        margin: auto;
        justify-content: center;
        height: 100vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        }
        h1 {color: red;
            margin-top:50px;
            font-size:45px;
            margin-left: 43%;
            text-align:center;
            display:inline-block;
        }

        h2{
            color: red;
            margin-top:20px;
            font-size:25px;
            display : flex;
            flex-direction: column;
            text-align:center;
        }

        h3{
            color: red;
            margin-top:20px;
            font-size:35px;
            display : flex;
            flex-direction: column;
            text-align:right;
            padding-right: 300px;
        }
    
        p {
        color: rgb(255, 255, 255);
        margin-top:135px;
        font-size:30px;
        display : flex;
        flex-direction: column;
        text-align:center;
        padding-left: 20px;
        }
    
        
        a { 
    
        color: red;
        }

        .question-container {
        background-color: rgb(58, 38, 43, 0.9);
        height: auto;
        width: 700px;
        margin: auto;
        flex-direction: column;
        justify-content: center;
        border-radius: 20px;
        float: top;
        float: right;
        overflow: auto;
  }

  h5 {
        font-size: 35px;
        display : flex;
        flex-direction: column;
        text-align:left;
        padding-left: 30px;

    }
    h6{
        color: rgb(255, 8, 8);
        font-size: 35px;
        display : flex;
        flex-direction: column;
        text-align:center;
        padding-left: 30px;
    }

    h7{
        color: rgb(255, 8, 8);
        font-size: 55px;
        display : flex;
        
        flex-direction: column;
        text-align:center;
        padding-left: 30px;
    }
    h8{
        color: rgb(255, 8, 8);
        font-size: 55px;
        display : flex;
        
        flex-direction: column;
        text-align:right;
        float: right;
        padding-left: 30px;
    }
    
    </style>
</head>
<body>
    <h1>Warm Up </h1>  <h8><%= my_user %></h8>

    <aside>

        
        <h3> Example </h3>
        <div class="question-container" >
            <form class="data-for-questions">
                    <h2>Choose a Path</h2>
                    <hr><hr>   

                    
                    <h6>
                        Select one of the Choices:<br><br><br>

                        Option A => new Paths <br>
                        Option B => new Paths<br>
                        Option C => new Paths<br><br><br>

                        Just know that only one of the choices is the right choice
                    </h6>
            </form>

        </div>
    </aside>

    <p>

        Few Tips:
        <br>
        <br>
        1) You will be asked to select the correct answer in different situation
        <br>
        2) If you choose the correct path you will be able to survive and move on<br>
        3) If you fail to find the right path...<br>
        4) Well, you know what's going to happened<br><br><br><br>
    </p> 

    

        <h7>You Die....💀💀💀💀💀💀💀</h7>
            <br>
        <h1>
        <a href=  "/round1"> Start Here</a></h1>
<!--*****************************************************************************-->
<h5>
    <a href=  "/"> Main Page</a>
</h5>
        
    
</body>
</html>